@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', serif;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin: 3rem 0;
  color: #383838;
  background-color: #FCFCFC;
  font-size: 1rem;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
  max-width: 100%;
}

h1 {
  font-size: 1.8rem;
  margin-bottom: 3rem;
  font-weight: 400;
}

h3 {
  font-weight: 400;
  margin-bottom: 3rem;
}

h3 span {
  font-weight: 700;
  font-size: larger;
}

h1 span {
  border-top: 1px solid;
  width: 3rem;
  display: inline-block;
  vertical-align: middle;
  margin: 0 8px;
}